{% extends "blog/index.html" %}
{% block content %}

    {% for post in AboutMe %}
        <div class="mainContent">
            <div class="content">
                <main class="typicalArticle">
                    <header>
                        <h3><a href="{{ post.id }}">{{ post.titleMe }}</a></h3>
                    </header>
                    <footer>
                        <p class='postInfo'>Posted on {{ post.dateMe }}</p>
                    </footer>
                    <article>
                        <p>    {{ post.contentMe|safe|linebreaks }} </p>
                    </article>
                </main>
            </div>
        </div>
    {% endfor %}
{% endblock %}