{% extends "blog/index.html" %}
{% block content %}

    {% for post in AboutMe %}
        <div class="mainContent1">
            <div class="content1">
                <main class="typicalArticle1">
                    <header>
                        <h3>{{ post.titleMe }}</h3>
                    </header>
                    <footer>
                        <p class='postInfo1'>Posted on {{ post.dateMe }}</p>
                    </footer>
                    <article>
                        <p>    {{ post.contentMe|safe|linebreaks }} </p>
                    </article>
                </main>
            </div>
        </div>
    {% endfor %}
{% endblock %}