{% extends "blog/index.html" %}
{% block content %}
    {% for post in posts %}
        <div class='mainContent'>
            <div class="content">
                <main class='typicalArticle'>
                    <header>
                        <h3><a href="{{ post.id }}"><em>{{ post.title }}</em>,
                            by
                            <small>{{ post.author }}</small>
                            <small>posted on {{ post.timestamp }}</small>
                        </a></h3>
                    </header>
                </main>
            </div>
        </div>
    {% endfor %}
{% endblock %}