<!DOCTYPE html>
<html lang="en">

<head>
    <title>EBA</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>


<body class="body">
<header class="mainHead">
    <img src="/static/img/mainlogo.png" %} width="700" height="144" %}>
    <nav>
        <ul>
            <li><a href='/'>Home</a></li>
            <li><a href='/blog/'>Blog</a></li>
            <li><a href='{{ STATIC_URL }}/latestnews/'>News</a></li>
            <li><a href='{{ STATIC_URL }}/archive/'>Archive</a></li>
        </ul>
    </nav>
</header>

{% block content %}
    <article>
    <h3><a href="/blog/{{ post.id }}">{{ post.title }}</a></h3>
    <p class="postInfo">
        on {{ post.date }}
    </p>

    <div class="typicalArticle">
        {{ post.body|safe|linebreaks }}
    </div>
    </article>
{% endblock %}


<footer class="mainFooter">
    <p> copyright &copy; 2015</p>
</footer>

</body>
</html>
